.form-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin:20px;
}

.form-title {
  margin:0px;
}

.form-description {
  margin-bottom: 10px;
}

.form-wrapper {
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  
}

.form-input {
  padding: 10px;
  border: 1px solid #a19f9f;
  background-color: #ffffff;
  border-radius: 5px;
  width: 80%;
  box-sizing: border-box;
  color:black;
  margin-bottom: 10px;
}

.form-input:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 5px #0077ff;
}