@import '../../App.css';


.form-title {
  margin:0px;
  color: #02295a;
}


.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-description {
  margin-bottom: 10px;
}

.form-error {
  display: block;
  color: #e72626;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.form-label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 600;
  font-family: var(--font-tertiary);
  font-size: 14px;
}


.form-input {
  padding: 10px;
  border: 1px solid #a19f9f;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  color:black;
  margin-bottom: 10px;

  &.form-input-error {
    border-color: #e72626;
  }
}

.form-input:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 5px #0077ff;
}