.form-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:20px;
}

.form-title {
  /* font-size: 2rem;
  margin-bottom: 20px; */
  margin:0px;
}

.form-description {
  /* font-size: 1.2rem;
  margin-bottom: 20px; */
}

.form-wrapper {
  width: 100%;
  max-width: 500px;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  /* font-size: 1.2rem; */
  /* margin-top: 10px; */
}

.form-input {
  padding: 10px;
  /* margin-bottom: 10px; */
  border: 1px solid #a19f9f;
  background-color: #ffffff;
  border-radius: 5px;
  /* font-size: 1.2rem; */
  width: 80%;
  box-sizing: border-box;
  color:black
}

.form-input:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 5px #0077ff;
}