@import '../../App.css';
@import '../../index.css';

.addons-subtitle {
  color: var(--color-secondary);
  font-size: 14px;
}

.addons-container {
  margin-top: 20px;
  display: grid;
  gap: 10px;

  .addon {
    border: var(--border-color);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;

    &:hover {
      background-color: aliceblue;
    }
    &.selected {
      background-color: aliceblue;
    }
    .addon-title {
      width: 60%;
      line-height: normal;

        .addon-description {
          color: var(--color-primary);
          font-family: var(--font-primary);
          font-weight: 700;
        }
        .addon-sub-description {
          color: var(--color-secondary);
          font-family: var(--font-secondary);
          font-size: 13px;
        }
    }
    .addon-price {
      width: 20%;
      font-size: 15px;
      text-align: center;
      color: #4e4cdb;
      font-weight: 500;
    }
    .addon-checkbox {
      accent-color: #4e4cdb;
    }
    .addon-checkbox:checked::before {
      accent-color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .addon {
    height: 40px;
  }
}

@media (max-width: 480px) {
  .addon {
    height: 55px;
  }
}

@media (max-width: 320px) {
  .addon {
    height: 60px;
    padding: 22px;
  }
}