@import '../../App.css';
@import '../../index.css';

.side-component {
  background-image: url('../../assets/bg-sidebar-desktop.svg');
  background-size: cover;
  margin: 12px;
  border-radius: 3%;
  width: 30%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 8px;
  margin-top: 24px;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.step-number {
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #ffffff;
}

.step-title {
  color: #8b8b8b;
  font-size: 12px;
}

.step-description {
  color: #ffffff;
  font-family: var(--font-tertiary);
  font-size: 13px;
}

.step-number-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-top:1px;
  border: solid 1px #ffffff;
}

.active {
  background-color: #b2f5d3;
  color: #1d1e35;
}