@font-face {
  font-family: 'Ubuntu Medium';
  src: url('./assets/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Regular';
  src: url('./assets/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('./assets/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


:root {
  --color-primary: #0058c7;
  --color-secondary: #6c757d;
  --border-color: solid 1px #4e4cdb;
  --font-primary: 'Ubuntu Bold', sans-serif;
  --font-secondary: 'Ubuntu Regular', sans-serif;
  --font-tertiary: 'Ubuntu Medium', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(3, 3, 3, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

p {
  margin:0px;
  font-family: var(--font-secondary);
}

span {
  font-family: var(--font-tertiary);
}

